<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather App</title>
  </head>
  <body>
    {{>header}}
    {{title}}
    <h1><b>404</b></h1>
    {{message}}
    {{>footer}} 
  </body>
</html>