<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="icon" href="/images/icon.png">
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      {{title}}
      <h1><b>404</b></h1>
      {{message}}
    </div>
    {{>footer}} 
  </body>
</html>