<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Weather App</title>
  </head>
  <body>
    {{>header}}
    <img src="./images/42982560.jpeg">
    {{>footer}}
  </body>
</html>